/* CSS STYLES */


h1 {
    text-align : center;
    font-family: 'Marmelad', sans-serif;
    font-size: 45px;
    font-weight: 400;
}

.title {
    padding-top : 50px ;
    padding-left : 5vw; ;
    padding-bottom: 20px ;
    text-align : left ;
}

.aboutUs {
    display : flex;
    justify-content : center;
    align-items: center;
    padding-top: 10vh;
    flex-wrap: wrap;
}

.Text p {
    width: 587px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-right: 50px;
    text-align: center;
}

.Text button {
    margin-top: 10px;
    background-color: #FF5A00;
    width: 228px;
    height: 38px;
    border-radius: 8px;
    margin-left: 20%;
    margin-bottom: 30px;
}

button {
    font-family: 'Marmelad', sans-serif;
    font-size: 18px;
    font-weight: 400;
    justify-self: center;
}

#second img {
    float: right;
}

#second a {
    font-family: 'Monteserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.domains , .academies {
    display : flex ;
    flex-wrap: wrap;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content : space-around ;
}

/*.academics {
    display : flex ;
    flex-wrap: wrap;
    padding-left: 3vw;
    justify-content : space-around ;
    align-items: center;
}*/

.domains h1 , .academies h1 {
    font-family: 'Marmelad', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

/*.academics h1 {
    font-family: 'Marmelad', sans-serif;
    font-size: 35px;
    font-weight: 400;
}*/

.domains h2 , .academies h2 {
    font-family: 'Marmelad', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

/*.academics h2 {
    font-family: 'Marmelad', sans-serif;
    font-size: 30px;
    font-weight: 400;
}*/

.domains p , .academies p {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.domains img , .academies img{
    height: 50px;
    width: 50px;
    margin-left: 45%;
}

/*.academics p {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
}*/

.management,.technical,.design,.editorial,.technical,.dance,.drama,.music {
    padding-bottom: 50px;
}

.management, .technical, .design {
    padding-right: 8px;
}

/*.technical {
    padding-bottom: 50px;
}

.design {
    padding-bottom: 50px;
}

.editorial {
    padding-bottom: 50px;
}

.documentation {
    padding-bottom: 50px;
}

.dance {
    padding-bottom: 50px;
}

.drama {
    padding-bottom: 50px;
}

.music {
    padding-bottom: 50px;
}
*/
@media(max-width:375px) {

    .domains , .academies {
        flex-direction: column;
        padding-left: 25vw;
    }

    /*.academics {
        display: flex;
        flex-direction: column;
        padding-left: 40vw;
    }*/

    h1 {
        text-align: center;
        padding-left: 30vw;
    }

    .aboutUs {
        flex-direction: column;
        justify-content : flex-start;
    }

    .Image {
        order: 0;
        align-self: flex-start;
        padding-bottom: 20px;
    }

    .Text {
        order: 1;
    }

    /*.domains p , .academics p {
        font-size: 16px;
    }*/

    /*.academics p {
        font-size: 16px;
    }*/

    .academics img {
        width: 151px;
        height: 151px;
    }
}

@media(min-width : 375px) and (max-width : 1141px) {

    .aboutUs {
        display : flex;
        flex-direction: column;
        justify-content : flex-start;
    }
    .Image {
        align-self: center;
    }

    #first p {
        text-align: center;
        font-size: auto;
        width: auto;
        height: auto;
    }

    #second {
        justify-content: center;
    }
}

/* Font Properties */

/*
ABOUT US
font-family: Marmelad;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 54px;
letter-spacing: 0em;
text-align: left;

Text inside it
font-family: Montserrat;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: center;

Button
font-family: Maiandra GD;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;



DOMAINS
font-family: Marmelad;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: left;

Domain Names
font-family: Marmelad;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

Domain Description
font-family: Montserrat;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
*/