*,*::before, *::after {
    box-sizing: border-box;
}
.body {
    margin: 0;
    padding: 0;
}
nav {
    background: linear-gradient(to left, #fe8c00, #f83600);
    padding: 20px;
    color:black;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}
nav i {
    text-decoration: none;
}
.title {
    margin-left: 2rem;
    font-size: 40px;
}
.event-card {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 5px;
    padding: 20px;
}
.sub-container {
    display: flex;
}
.event-title {
    display: flex;
    align-items: center;
    
}
.event-title h1 {
    margin-left: 2rem;
    margin-right: 2rem;

}
.line {
    height: 2px;
    background: black;
    width: 70px;
}
