*,*::before, *::after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 63px;
    background-color: #FF5A00;
    z-index: 50;  
}

.fas {
    color:black;
}
.title {
    margin-left: 1rem;
    font-size: 40px;
}
#gudhipadwa {
    width: 50%;
}
.events__header_{
    display: flex;
    align-items: center;
}
.events__header_ i{
    font-size: 1.7rem;
    color: black;
    margin-left: 1vw;
}
.event-card {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    height: auto;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    align-items: center;
}
.event-card .line {
    flex: 1;
}
.sub-container {
    display: flex;
    align-items: center;
}
.event-title {
    display: flex;
    align-items: center;
}
.event-title h1 {
    margin: 0;
}
.event-title h2 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.line {
    height: 2px;
    background: black;
    width: 100%;
}
.all-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


@media (max-width: 650px) {

    .all-events {
        flex-direction: column;
        align-items: center;
    }
    .sub-container {
        flex-direction: column-reverse;
    }
    header{
        height: 50px;
    }
}
