*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

/* Container that will hold every class of home */
.home{
    background: url('Images/background\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navbar code */
nav{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 50px;
}
.navbar{
    background-color: #f78f20;
    position: sticky;
    top: 0px;
    z-index: 45;
}
nav li{
    float: left;
    list-style-type: none;
}
nav ul{
    overflow: auto;
}
nav a{
    text-decoration: none;
    margin: 2vw;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: 'Marmelad', sans-serif;
}
nav a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

/* Burger menue code which will get triggered when width decreases */
.arrow{
    display: none;
    background-color: transparent;
    border: 0;
    font-size: 2.5rem;
    cursor: pointer;
}

/* .Home-1 will hold Carousel and club logo */
.home-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
    width: 99.7%;
    /* border: 2px solid rgb(209, 6, 6); */
}
.hm-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100%;
    /* border: 2px solid black; */
}
.hm-1 img{

    width: 169px;
    height: 169px;
    /* border: 2px solid black; */
    /* margin-top: ; */
}
.write{
    /* border: 2px solid black; */
    width: 37vw;
    font-size:1.9rem;
    font-family: 'Marmelad', sans-serif;
    text-align: center;
    /* margin: -4.8vh; */
    color: black;
    
}
.write h1{
    margin-bottom: 1vh;
    color: black;
}
.hm-2{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 59vw;
    height: 100%;
    /* border: 2px solid rgb(0, 255, 64); */
}

/* Wallpaper carousel code  */
.gallery-container {
  align-items: center;
  display: flex;
  height: 98%;
  margin-top: 5px;
  width: 98%;
  position: relative;
  /* border: 2px solid rgb(133, 2, 255); */
  overflow: hidden;
}

.gallery-item {
  height: 10px;
  opacity: 0;
  position: absolute;
  transition: all 0.7s ease-in-out;
  width: 150px;
  z-index: 0;
  /* border: 4px solid rgb(228, 24, 24); */
  border-radius: 40px;
}


.gallery-item-2,
.gallery-item-4 {
  height: 200px;
  opacity: 0.8;
  width: 500px;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: 5px 5px 22px black;
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}
.gallery-controls {
  display: none;
  justify-content: center;
  margin: 30px 0;
}
.gallery-controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gallery-controls button:focus {
  outline: none;
}
.gallery-controls-next::before {
  border-width: 0 2px 2px 0;
  content: '';
  display: none;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}
.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}
.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}
.gallery-nav li.gallery-item-selected {
  background: #555;
}

/* .home-2 will hold SVG flag and follow buttons */
.home-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 44vh;
    width: 99.7%;
    /* border: 2px solid blue; */
}

/* Social media links */
.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    width: 40vw;
    height: 100%;
    font-family: 'Marmelad', sans-serif;

}
.follow h3{
    color: black;
    font-size: 2.3rem;
    margin-bottom: 2vh;
    margin-top: 20px;
}
.follow button{
    font-size: 1.7rem;
    width: 180px;
    height: 40px;
    font-family: 'Marmelad', sans-serif;
    border-radius: 15px;
    margin: 1.1vh;
    background-color: black;
    color: white;
    border: none;
    text-align: left;
    padding-left: 2vw;
}
.follow button:hover{
    box-shadow: 2px 2px 10px black;
}
.follow i{
    padding-right: 2.5vh;
}
.follow-inner{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}
.flag{
    display: flex;
    flex-direction: row-reverse;
    /* border: 2px solid black; */
    width: 59vw;
    height: 100%;
}

/* This is the code for the footer */
.footer{
    display: flex;
    background-color: black;
    /* border: 2px solid red; */
    width:100%;
}
.foot-1{
    width: 35%;
    height: 350px;
    /* border: 2px solid rgb(71, 4, 255); */
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.foot-1 img{
    width: 370px;
    height: 140px;
}
.foot-2{
    display: flex;
    color: white;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    width: 40%;
    height: 350px;
    /* border: 2px solid rgb(0, 255, 13); */

}
.foot-2 img{
  width: 80%;
  height: 80%;
  /* border: 2px solid red; */


}
.foot-2 span{
    /* position:absolute; */
    /* margin-top:30vh ; */
    font-size: 1.8rem;
}
.foot-3{
    display: flex;
    /* margin-top: 5vh; */
    width: 30%;
    height: 350px;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(255, 20, 255); */

}
.follow-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 40vw;
    height: 100%;
    font-family: 'Marmelad', sans-serif;

}
.follow-foot h3{
    color: white;
    font-size: 2.3rem;
    margin-bottom: 2vh;
    margin-top: 20px;
}
.follow-foot button{
    font-size: 1.7rem;
    width: 180px;
    height: 40px;
    font-family: 'Marmelad', sans-serif;
    border-radius: 15px;
    margin: 1.1vh;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    text-align: left;
    padding-left: 2vw;
}
.follow-foot button:hover{
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}
.follow-foot i{
    padding-right: 2.5vh;
}
.empty-space{
    width: 100%;
    height: 500px;
}
::-webkit-scrollbar {
    width: 0px;
}
  /* Track */ 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(31, 30, 30); 
    border-radius: 1px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #383838; 
}

@media (max-width:420px){
    html{
        font-size:42% ;
    }
    .home-1{
        flex-direction: column;
        height: auto;
    }
    .hm-1{
        width: 100%;
        height: auto;
    }
    .hm-1 img{
        margin-top: 6.9vh;
    }
    .write{
        width: 100%;
        font-size: 2.4rem;
    }
    .hm-2{
        width: 100%;
        /* height: auto; */
        height: auto;
    }
    .gallery-container{
        height: 30vh;
        width: 94vw;
    }
    .gallery-item-2,.gallery-item-4{
        height: 100px;
        width: 205px;
        border-radius: 15px;
    }
    .gallery-item-3{
        height: 160px;
        width: 285px;
        border-radius: 15px;
    }
    .arrow{
        display: block;
        position: absolute;
        left: 90vw;
    }
    .navbar{
        background-color: black;
    }
    .navbar i{
        font-size: 22px;
        color: white;
    }
    .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        /* justify-content: center; */
    }
    .nav-ul li{
        padding: 3px;
    }
    .nav-ul li a{
        color: white;
    }
    
    .nav-ul.show{
        /* border: 2px solid white; */
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 40px;
        margin-top: 90px;
        background-color: #000000b5;
    }
    .flag{
        display: none;
    }
    .home-2{
        height: auto;
    }
    .follow{
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .follow-inner{
        flex-direction: row;
    }
    .follow button {
         width: 30px;
        height: 30px;
        margin: 3vw;
    }
    .follow-inner span{
        display: none;

    }
    .follow h3{
        display: none;
    }
    .follow-inner{
        align-items: center;
        justify-content: center;
        width: 247px;
        height: 30px;
        margin: 3vh;
        /* height: 24px; */
        background-color: black;
        border-radius: 50px;
    }
    .footer{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .foot-1{
        display: none;
    }
    .foot-2{
        height:300px;
        width: 280px;
        

    }
    .foot-3{
        width:auto;
        height: auto;
    }
    .follow-foot{
        height: auto;
        width: auto;
    }
    
    .follow-foot button{
        font-size: 2.5rem;
        /* text-align: center; */

    }
    .follow-foot button i{
        margin-left: 3vh;
    }
   
}
@media (max-width:325px){
    html{
        font-size: 37%;
    }
    .write{
        width: 100%;
        font-size: 2.2rem;
    }
    .gallery-container{
        height: 30vh;
        width: 94vw;
    }
    .gallery-item-2,.gallery-item-4{
        height: 85px;
        width: 150px;
        border-radius: 15px;
    }
    .gallery-item-3{
        height: 125px;
        width: 205px;
        border-radius: 15px;
    }
}

/* Media querries for laptop */



@media (max-height:650px) and (min-width:1010px) {
    .gallery-item-2,
    .gallery-item-4 {
      height: 200px;
      width: 300px;
    }
    
    .gallery-item-3 {
      height: 250px;
      width: 500px;
      
    }
    .hm-1 img{
        width: 135px;
        height: 135px;
    }
    .follow h3{
        margin-top:4px;
    }
    .follow button{
        width: 175px;
    height: 38px;
    border-radius: 15px;
    margin: 1vh;
    }
    .write{
       
        width: 37vw;
        font-size:19px;
        
    }
    .write h1{
        margin-bottom: 1vh;
    }

}
@media (max-height:641px) and (min-width:1000px){
    
    .gallery-item-2,
    .gallery-item-4 {
      height: 200px;
      width: 300px;
    }
    
    .gallery-item-3 {
      height: 250px;
      width: 500px;
      
    }
    .hm-1 img{
        width: 135px;
        height: 135px;
    }
    .follow h3{
        margin-top:4px;
    }
    .follow button{
        width: 175px;
    height: 38px;
    border-radius: 15px;
    margin: 1vh;
    }
   
 
    .write h1{
        margin-bottom: 0.5vh;
    }

}
@media (max-height:600px) and (min-width:1000px){
    
    .gallery-item-2,
    .gallery-item-4 {
      height: 180px;
      width: 300px;
    }
    
    .gallery-item-3 {
      height: 230px;
      width: 450px;
      
    }
    .hm-1 img{
        width: 135px;
        height: 135px;
    }
    .follow h3{
        margin-top:4px;
    }
   
    .follow button{
    width: 170px;
    height: 33px;
    border-radius: 15px;
    margin: 1vh;
    font-size: 17px;
    }

    .write h1{
        margin-bottom: 0.5vh;
    }

}
@media (max-height:548px) and (min-width:1000px){
    
    .gallery-item-2,
    .gallery-item-4 {
      height: 180px;
      width: 300px;
    }
    
    .gallery-item-3 {
      height: 230px;
      width: 450px;
      
    }
    .hm-1 img{
        width: 130px;
        height: 130px;
    }
    .follow h3{
        /* font-size: 100px; */
        margin-top:4px;
    }
  
    .follow button{
    width: 160px;
    height: 33px;
    border-radius: 15px;
    margin: 1vh;
    font-size: 16px;
    }
    .write h1{
        font-size: 32px;
        margin-bottom: 0.5vh;
    }

}

