* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Marmelad", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.back-button {
  width: 2vmax;
  padding-left: 5vmin;
}
#back-button {
  width: 100%;
  height: 100%;
}

.section1 {
  margin: 5vh 2vw;
}

.heading {
  margin: 5vh 5vw;
  margin-bottom: 8vh;
  font-weight: 550;
  font-size: 5vh;
}

.img-container {
  margin-left: 10vmin;
  margin-right: 10vmin;
  border-radius: 5px;
  display: flex;
  padding: 1vh 0vw;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 2vw;
}
.img-container::-webkit-scrollbar {
  width: 100%;
  height: 1vh;
}

.img-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  margin: 40vh;
  border-radius: 10px;
}
.img-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  margin: 40vh;
  border-radius: 10px;
  background: orange;
}
.img-container::-webkit-scrollbar-thumb:hover {
  background: #ff5a00;
}

.head-strip {
  width: 100%;
  background-color: #ff5a00;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5vh 1vw;
  /*overflow-y: scroll;*/
}

.image {
  margin: 4vh 0vw;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  width: 40vh;
  border-radius: 3px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  max-height: 40vmin;
}

.title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.text {
  padding: 1vh 2.5vw;
  font-size: 3vh;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}

.container:before {
  content: "";
  width: 10%;
  height: 1.5px;
  background: #000;
  display: flex;
}

.container:after {
  content: "";
  width: 80%;
  height: 1.5px;
  background: #000;
  display: flex;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .image {
    height: 65vmin;
    margin: 3px 0vw;
  }
}
