* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Marmelad", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  margin: 0vh 4vw;
}

.heading {
  margin-top: 5vh;
  font-weight: 550;
  font-size: 5vh;
  max-width: 30%;
}

.search_categories {
  padding: 1vh 0 1vh 0vw;
  background: #fff;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  margin-right: 81vw;
  display: -moz-inline-box;
}

.select select {
  background: transparent;
  border: 0;
  border-radius: 0;
  width: 105%;
  outline: none;
  -webkit-appearance: none;

  font-size: 2.5vh;
  font-family: "Marmelad", sans-serif;
}
.select {
  background: url("arrow-down-solid.svg") no-repeat right;
  margin-right: 1.4vw;
}

select {
  justify-content: center;
  /* text-align: center; */
}

.faculty {
  display: flex;
  justify-content: center;
}

.faculty-head {
  margin: 10vh 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.faculty-photo-container {
  height: 22vh;
  min-height: 80%;
}
.faculty-photo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}
.faculty-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  align-items: center;
}
.faculty-name {
  font-family: "Livvic", sans-serif;
  font-weight: 900;
  font-size: 3.8vh;
}
.faculty-subname {
  font-family: "Livvic", sans-serif;
  font-weight: 800;
  font-size: 2.5vh;
}

.club-heads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 4vh 8vw;
  row-gap: 10vh;
}

.heads-info-container {
  display: flex;
  width: 32%;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: center;
}
.heads-photo-container {
  height: 20vh;
  min-height: 40%;
}
.club-head-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.head-name {
  font-family: "Livvic", sans-serif;
  font-weight: 900;
  font-size: 3.5vh;
  text-align: center;
}
.head-subname {
  font-family: "Livvic", sans-serif;
  font-weight: 800;
  font-size: 2.5vh;
  padding: 0 0;
  text-align: center;
}

@media (orientation: portrait), (max-width: 768) {
  .search_categories {
    padding: 1vh 1vh 1vh 2vw;
    width: 17vh;
  }
}
@media (orientation: landscape), (min-width: 769) {
  .search_categories {
    padding: 1vh 1vh 1vh 1vw;
    width: 12vw;
    max-width: 22vh;
  }
}
@media (max-width: 1024px) {
  .faculty-photo-container {
    height: 12vh;
  }
  .club-heads {
    margin: 3vh 2vw;
    row-gap: 6vh;
    column-gap: 10vw;
  }
  .heads-info-container {
    width: 40%;
  }
  .heads-photo-container {
    height: 14vh;
    min-height: 50%;
  }
  select {
    font-size: 3vh;
  }
}
@media (max-width: 768px) {
  .faculty-photo-container {
    height: 10vmax;
  }
  .club-heads {
    margin: 3vh 2vw;
    row-gap: 6vh;
    column-gap: 10vw;
  }
  .heads-info-container {
    width: 40%;
  }
  .heads-photo-container {
    height: 12vh;
    min-height: 50%;
  }
  select {
    font-size: 3vh;
  }
  .search_categories {
    width: 17vh;
  }
  .head-subname {
    font-size: 3vh;
  }
  .faculty-subname{
    font-size: 3vh;
  }
}


